<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>edemilsonws-seed</title>
    <link rel='stylesheet' href='components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='components/bootstrap/dist/css/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='css/app.css' />
  </head>
<body>
  <div ng-controller='AppCtrl'>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Olá {{name}}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href='view1'>Link 1</a></li>
            <li><a href='view2'>Link 2</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Entrar <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Login</a></li>
                <li class="divider"></li>
                <li><a href="#">Seed 0.0.1</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div ng-view></div>

    <div>
      | edemilson-ws seed app: v
      <span app-version></span>
    </div>
  </div>
  
  <script src="components/angular/angular.js"></script>
  <script src="components/angular-resource/angular-resource.js"></script>
  <script src="components/angular-cookies/angular-cookies.js"></script>
  <script src="components/angular-sanitize/angular-sanitize.js"></script>
  <script src="components/angular-route/angular-route.js"></script>
  <script src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="components/angular-http-auth/src/http-auth-interceptor.js"></script>

  <script src='js/app.js' ></script>
  <script src='js/services.js' ></script>
  <script src='js/controllers.js' ></script>
  <script src='js/filters.js' ></script>
  <script src='js/directives.js' ></script>
  
</body>

</html>
